.btn,.btn-outline
    padding: 8px 15px
    border-radius: 7px
    border: 0
    color: white
    font-weight: 600
    font-size: 15px
    transition: all .2s
    cursor: pointer
    white-space: nowrap
.btn
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2)
    background: $main-color
    &:hover
        background-color: white
        color: rgba(252, 78, 78,1)
.btn-white
    background-color: white
    border: none
    padding: 15px 50px
    font-weight: 600
    cursor: pointer
    color: $text-color
    transition: all .3s
    border-radius: 5px
    margin-top: 20px
    &:hover
        background-color: $main-color
        color: white
.btn-outline
    background: transparent
    &:hover
        background: rgba(252, 78, 78,.5)

input[type='text'],input[type='password']
    width: 100%
    border-radius: 10px
    border: 0
    background-color: rgba(252, 78, 78,1)!important
    padding: 10px 5px 