@import './_variables'
@import './_typography'
@import './_elements'

@import '../components/landing-page/_top-menu'
@import '../components/landing-page/_landing-page'

@import '../components/dashboard/_dashboard'
@import '../components/dashboard/_leftbar'

@import '../components/login/_login'


*:focus 
    outline: none
*
    box-sizing: border-box
    font-family: Catamaran
    color: white
    letter-spacing: 1px
html,body,#root,.container
    width: 100%
    height: 100%
    margin: 0
    background: $main-gradient