@import './_variables'
@import './_typography'
    
@import '../components/landing-page/_top-menu'
@import '../components/landing-page/_landing-page'

@import '../components/dashboard/_dashboard'
@import '../components/dashboard/_leftbar'


html,body,#root, .container
    width: 100%
    height: 100%
    margin: 0

*
    box-sizing: border-box
    font-family: Catamaran